<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Challenge</title>
</head>
<body>
    <h1>Licenciatura em Informática</h1>
    <hr>
    <br>
    <br>
    <h1>Disciplinas</h1>
    <br>
    <br>
    1 - Seminário de Integração Acadêmica
    <br>
    2 - Pensamento Computacional
    <br>
    3 - Fundamentos da Educação I
    <br>
    4 - Língua Portuguesa
    <br>
    5 - Informática
    <br>
    <br>
    <a href="/"> Back</a>
</body>
</html>