<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fourth Challenge</title>
</head>
<body>
    <h1>Licenciatura em Informática</h1>
    <hr>
    <br>
    <br>
    <h1>Disciplinas</h1>
    <br>
    <br>
    1 - Paradigmas de Linguagens de Programação
    <br>
    2 - Sistemas Digitais
    <br>
    3 - Organização e Gestão da Educação Brasileira
    <br>
    4 - Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente IV
    <br>
    5 - Banco de Dados
    <br>
    6 - Metodologia do Trabalho Científico
    <br>
    7 - Leitura e Escrita de Textos Acadêmicos e de Divulgação Científica
    <br>
    <br>
    <a href="/"> Back</a>
</body>
</html>