<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Challenge</title>
</head>
<body>
    <h1>Licenciatura em Informática</h1>
    <hr>
    <br>
    <br>
    <h1>Disciplinas</h1>
    <br>
    <br>
    1 - Filosofia da Mente
    <br>
    2 - Psicologia da Aprendizagem
    <br>
    3 - Fundamentos e Técnicas de Programação
    <br>
    4 - Fundamentos da Educação II
    <br>
    5 - Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente II
    <br>
    <br>
    <a href="/"> Back</a>
</body>
</html>