<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Third Challenge</title>
</head>
<body>
    <h1>Licenciatura em Informática</h1>
    <hr>
    <br>
    <br>
    <h1>Disciplinas</h1>
    <br>
    <br>
    1 - Inglês Instrumental
    <br>
    2 - Programação Orientada a Objetos
    <br>
    3 - Didática
    <br>
    4 - Probabilidade e Estatística
    <br>
    5 - Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente III
    <br>
    6 - Robótica Educacional
    <br>
    <br>
    <a href="/"> Back</a>
</body>
</html>